section {
    .cardsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width:992px) {
    section {
        .cardsContainer {
            flex-direction: column;
        }
    }
    
}